In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figureroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figureroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figureroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:

SyntaxError: unexpected EOF while parsing (<ipython-input-3-e4fd58f9dd6e>, line 3)

In [8]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
#Add the Pandas dependency.
import pandas as pd

In [10]:
#Create a Pandas series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [18]:
for school in high_schools
print (school)

SyntaxError: invalid syntax (<ipython-input-18-fe88166c0226>, line 1)

In [21]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [22]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [24]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [29]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id
#Print the Data Frame
schools_df
#Add the list to a new DataFrame
schools_df["School Name"] = school_name
#Print the Data Frame
schools_df
schools_df["Type of School"]= type_of_school
schools_df

,School ID,school_name,type_of_school,School Name,Type of School
0,0,Huang High School,District,Huang High School,District
1,1,Figueroa High School,District,Figueroa High School,District
2,2,Shelton High School,Charter,Shelton High School,Charter
3,3,Hernandez High School,District,Hernandez High School,District
4,4,Griffin High School,Charter,Griffin High School,Charter

In [33]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [36]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

AttributeError: module 'pandas' has no attribute 'dataFrame'